<div flex fxLayout="row wrap" fxLayoutAlign="start" class="main-container">
  <mat-card style="min-width: 600px;">
    <mat-card-header>
          <mat-card-title>People who saw this page</mat-card-title>
          <mat-card-subtitle>
              People connected at this moment: {{ connectionsQuantity }}    
          </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Chart">
                <div style="display: block;">
                    <canvas baseChart width="600" height="400"
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                    </div>
            </mat-tab>
            <mat-tab label="Detailed Report by IP">
                <button  mat-raised-button color="accent" (click)="generateReportByIP()">Generate Report</button>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let ip of ips">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ip.ip}}
                        </mat-panel-title>
                        <mat-panel-description>
                            See connections {{ip.events.length}}
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        
                        
                        <table-report-by-ip [dataIpEvents]="ip.events"></table-report-by-ip>

                
                    </mat-expansion-panel>
                    
                </mat-accordion>
            </mat-tab>
          </mat-tab-group>

            
      </mat-card-content>
      
  </mat-card>

  
</div>
        


