<div flex fxLayout="column" class="main-container">
        <mat-tab-group dynamicHeight="true">
                
                <mat-tab label="ABOUT ME">
                        <div fxLayout="column wrap" fxLayoutGap="5%">
                                <mat-card>
                                        <mat-card-header>
                                                <mat-card-title> José Manuel Berretta Moreno </mat-card-title>
                                                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
                                        </mat-card-header>
                                        <div fxLayout="row" fxLayoutGap="2%">
                                                
                                                <img img mat-card-md-image src="/assets/images/profile/profile.jpg" class="profile-image">
                                                <mat-card-content>         
                                                        <p>
                                                        I am a Software Engineer with more than 10 years of experience, and I have good Spanish, English and French skills.
                                                        </p>
                                                        <p>
                                                        I see the software as a part of my life, I am passionate about the software architecture and team management. I love to design a solution giving real estimations, optimizing costs and managing teams.   
                                                        </p>
                                                        <p>In addition, I have Argentinean and French citizenship</p>
                                                                
                                                </mat-card-content>
                                        </div>
                                        
                                </mat-card>
                                <mat-card>
                                        <!--
                                        <mat-card-header fxLayoutAlign="center center">
                                                <mat-card-title> Contact me </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content  fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center">
                                                <a matTooltip="Mail" href="mailto:jmbm1989@gmail.com" class="profile-mail"><fa name="fab fa-envelope fa-3x"></fa></a>
                                                <a matTooltip="Linkedin" href="https://www.linkedin.com/in/jberrettamoreno/" class="profile-linkedin"><fa name="linkedin fa-3x"></fa></a>
                                                <a matTooltip="Github" href="https://github.com/cocheok" class="profile-github"><fa name="fab fa-github fa-3x"></fa></a>
                                                <a matTooltip="Gitlab" href="https://gitlab.com/cocheok" class="profile-gitlab"><fa name="fab fa-gitlab fa-3x"></fa></a>
                                                <a matTooltip="Twitter" href="https://twitter.com/cocheok" class="profile-twitter"><fa name="fab fa-twitter fa-3x"></fa></a>
                                                <div matTooltip="Skype" class="profile-skype" (click)="copyText('jmbm1989'); openSnackBar('The Skype user jmbm1989 was copied to the clipboard', 'close')"><fa name="fab fa-skype fa-3x"></fa></div>
                                                <div matTooltip="Telegram" class="profile-telegram" (click)="copyText('@cocheok'); openSnackBar('The Telegram user @coche was copied to the clipboard', 'close')"><fa name="fab fa-telegram fa-3x"></fa></div>
                                                <div matTooltip="Whatsapp" class="profile-whatsapp" (click)="copyText('+5491167827505'); openSnackBar('The number +5491167827505 was copied to the clipboard', 'close')"><fa name="fab fa-whatsapp fa-3x"></fa></div>
                                        </mat-card-content>
                                        -->
                                </mat-card>
                        </div>

                </mat-tab>
                <mat-tab label="TECHNOLOGIES">
                        
                                
                        <div fxLayout="row wrap" fxLayoutGap="5%">
                                <mat-card class="technology-card" *ngFor="let technologie of technologies" fxFlex.lg="20" fxFlex.md="25" fxFlex.sm="50" fxFlex.xs="100" >        
                                        <mat-card-header>
                                                <mat-card-title>{{technologie.name}}</mat-card-title>
                                        </mat-card-header>
                                        <img mat-card-image src={{technologie.image}}>
                                        
                                        <mat-card-content>
                                                <mat-chip-list>
                                                    <mat-chip *ngFor="let framework of technologie.frameworks" color="accent" selected>{{framework}}</mat-chip>
                                                </mat-chip-list>
                                        </mat-card-content>
                                </mat-card>
                              
                        </div>
                                
                       

                        
                </mat-tab>
                <mat-tab label="EDUCATION">
                        <div flex fxLayout="row wrap" fxLayoutAlign="center center">
                                
                                <mat-card class="example-card">
                                        <mat-card-header>
                                                <div mat-card-avatar class="example-header-image"></div>
                                                <mat-card-title>Engineer's degree, Informatics</mat-card-title>
                                                <mat-card-subtitle>Universidad Argentina de la Empresa</mat-card-subtitle>
                                        </mat-card-header>
                                        <img mat-card-image src="/assets/images/uade.png" alt="Universidad Argentina de la Empresa">
                                                
                                </mat-card>

                        </div>
                                
                        
                        
                        
                </mat-tab>
                <mat-tab label="JOB EXPERIENCE">
                                         
                        <mat-accordion>
                                        
                                <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                        JP Morgan Chase - Software Architect
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                        October 2019 - Nowadays
                                                </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div flex fxLayout="column">
                                                        <div>
                                                                <p>I'm in charge of Software Architecture. My main responsibilities are:</p>
                                                                <ul>
                                                                        <li><p>Design and develop software systems and applications</p></li>
                                                                        <li><p>Act as high-level decision maker in the process, determining everything from design choices to technical standards, such as platforms and coding standards.</p></li>
                                                                        <li><p>Make proposals on running projects to improove the Performance, Scalability, Interoperability, Usability, Reliability, Availability, Security, Maintainability, Modifiability, Testability, Reusability, Supportability</p></li>  
                                                                </ul>
                                                        </div>              
                                                </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>
                                          OverActive - Software Architect
                                        </mat-panel-title>
                                        <mat-panel-description>
                                         January 2019 - October 2019
                                        </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div flex fxLayout="column">
                                                <div>
                                                        <p>I'm in charge of Software Architecture. My main responsibilities are:</p>
                                                        <ul>
                                                                <li><p>Design and develop software systems and applications</p></li>
                                                                <li><p>Act as high-level decision maker in the process, determining everything from design choices to technical standards, such as platforms and coding standards.</p></li>
                                                                <li><p>Make proposals on running projects to improove the Performance, Scalability, Interoperability, Usability, Reliability, Availability, Security, Maintainability, Modifiability, Testability, Reusability, Supportability</p></li>  
                                                        </ul>
                                                </div>
                                                <mat-card class="example-card">
                                                        <mat-card-header>
                                                                <div mat-card-avatar class="job-image"></div>
                                                                <mat-card-title>Software Architect</mat-card-title>
                                                                <mat-card-subtitle>Confirmation.com</mat-card-subtitle>
                                                        </mat-card-header>
                                                        <img mat-card-image src="/assets/images/confirmation.png" alt="Movistar Mexico">
                                                        <mat-card-content>
                                                                <p>I am creating the design and development of new features for a single secure web-based platform, which allows authenticated audit firms to effectively manage and control the audit confirmation process, both internally and directly with authenticated financial institutions.
                                                                </p>
                                                        </mat-card-content>
                                                </mat-card>              
                                        </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Exo S.A. - Software Architect 
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    March 2013 - January 2019 
                                                </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div flex fxLayout="column">
                                                        <div>
                                                        <p>
                                                          I was in charge of designing the architecture and program web solutions. Every product has a microservices-oriented architecture and every microservice is developed using TDD technique using NodeJS and Mocha, and infrastructure using Docker and Redis as a cache database and Mongo or Postgre as a database.
                                                        </p>
                                                        <p>
                                                        In addition, depending on the product I managed, and remote teams that made the programming part. I used techniques like SCRUM or KANBAN to manage the teams, I also used Jira and Gitlab. My role consisted of making the code reviews, giving feedback and made the environment in Azure.
                                                        </p>
                                                        </div>
                                                        <div flex fxLayout="row wrap" fxLayoutGap="5%">
                                                                <mat-card  class="example-card">
                                                                
                                                                                        
                                                                        <mat-card-header >
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Developer</mat-card-title>
                                                                                <mat-card-subtitle>CDM</mat-card-subtitle>
                                                                        </mat-card-header>
                                                
                                                                        <img mat-card-image src="/assets/images/cdm.jpg" alt="Centro de diagnostico movil">
                                                                
                                                        
                                                                        <mat-card-content>
                                                                                I carried out the development of the module that is responsible for the security regarding the information of the Mobile Diagnostic Center in Javascript: <a href="http://www.exo.com.ar/salud" >Centro de diagnostico movil</a>
                                                                        </mat-card-content>
        
                                                                                
                                                                                        
                                                                </mat-card>
                                                                <mat-card class="example-card">
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software developer</mat-card-title>
                                                                                <mat-card-subtitle>Exo Linked</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                
                                                                        <img mat-card-image src="/assets/images/exolinked.png" alt="Exo Linked">
                                                                
                                                                        <mat-card-content>
                                                                                        I did the Analysis and development of an IoT platform (Exo linked) in C ++ and Nodejs: <a href="http://exolinked.com/">Exo linked</a>
                                                                        </mat-card-content>
                                        
                                                                </mat-card>
                                                                <mat-card class="example-card">
                                                                
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software developer</mat-card-title>
                                                                                <mat-card-subtitle>Smart Parking</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                
                                                                        <img mat-card-image src="/assets/images/parking.jpg" alt="Smart Parking">
                                                                
                                                                        <mat-card-content>
                                                                                I did the Analysis and a part of the development of an Smart Parking platform Nodejs and Angular2: <a href="http://www.exolinked.com/estacionamientos-inteligentes.html">Estacionamiento Inteligente</a>
                                                                        </mat-card-content>
                                                                                                
                                                                </mat-card>
                                                        
                                                                <mat-card class="example-card">
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Architect</mat-card-title>
                                                                                <mat-card-subtitle>Dashboard Management System</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                        <img mat-card-image src="/assets/images/malena.jpeg" alt="Dashboard Management System">
                                                                        <mat-card-content>
                                                                                I designed and developed a centralized dashboard management system in NodeJS, Vue.js and ElasticSearch: <a href="http://www.exo.com.ar/turnero-sai-sistema-de-atencion-inteligente">SAI</a>
                                                                        </mat-card-content>        
                                                                </mat-card>
                                                                <mat-card class="example-card">
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Architect</mat-card-title>
                                                                                <mat-card-subtitle>+Simple</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                        <img mat-card-image src="/assets/images/simple.jpeg" alt="+SIMPLE">
                                                                        <mat-card-content>
                                                                                I designed the development of a centralized task tool that consisted of an application to register orders, deliver tablets for a call center and also the system that registers the delivered tablets. The system was for a Buenos Aires government program called  <a href="https://www.massimple.gob.ar/">+Simple</a>  
                                                                        </mat-card-content>
                                                                </mat-card>
                                                                <mat-card class="example-card">
        
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Developer</mat-card-title>
                                                                                <mat-card-subtitle>Education System</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                
                                                                        <img mat-card-image src="/assets/images/venezuela.jpg" alt="Education System">
                                                                                        
                                                                        <mat-card-content>
                                                                                I made the development of a tool in Perl for the server management.
                                                                        </mat-card-content>
                                                                        
                                                                </mat-card>
                                                        
                                                                <mat-card class="example-card">
                                                                        
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Architect</mat-card-title>
                                                                                <mat-card-subtitle>SAI</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                
                                                                                <img mat-card-image src="/assets/images/sai-turn.png" alt="SAI">
                                                                        
                                                                
                                                                        <mat-card-content>
                                                                                I participated in the development of an intelligent attention system (SAI) in Python and Django: <a href="http://www.exo.com.ar/turnero-sai-sistema-de-atencion-inteligente">SAI</a>
                                                                        </mat-card-content>
                                                                        
                                                                                                        
                                                                </mat-card>
                                                                <mat-card class="example-card">
                                                                        
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Architect</mat-card-title>
                                                                                <mat-card-subtitle>Flow management system</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                        
                                                                        <img mat-card-image src="/assets/images/sai-nero.png" alt="Flow management system">
        
                                                                        <mat-card-content>
                                                                                I designed and developed a centralized flow management system in NodeJS and Vue.js: <a href="http://www.exo.com.ar/turnero-sai-sistema-de-atencion-inteligente">SAI</a>
                                                                        </mat-card-content>
                                                                                
                                                                </mat-card>
                                                                
                                                                <mat-card class="example-card">
                                                                        
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Architect</mat-card-title>
                                                                                <mat-card-subtitle>Digital Signage</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                
                                                                        <div fxLayout="row" fxLayoutAlign="center center">     
                                                                                <img mat-card-image src="/assets/images/carteleria.jpg" alt="Digital Signage">
                                                                        </div>
                                                                        
                                                                        <mat-card-content>
                                                                                I made the design and development of a centralized <a href="http://terminales.exo.com.ar/">Digital Signage Management System</a>.
                                                                                Technologies: Angular7, NodeJS, SocketIO.              
                                                                        </mat-card-content>
                                                                                
                                                                                                        
                                                                </mat-card>
        
                                                                
                                                        </div>
                                                                        
                                                </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                  Accenture - Software Developer
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                  September 2009 - March 2013
                                                </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div flex fxLayout="column">
                                                        <div>
                                                           <p>I worked as a Software Developer. My main responsabilities were to develop and design software solutions for different customers</p>      
                                                        </div>
                                                        <div flex fxLayout="row wrap" fxLayoutGap="5%">
                                                                <mat-card class="example-card">

                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Developer</mat-card-title>
                                                                                <mat-card-subtitle>Movistar Mexico (10/2011 - 03/2013)</mat-card-subtitle>
                                                                        </mat-card-header>
                                                        
                                                                                <img mat-card-image src="/assets/images/movistar.png" alt="Movistar Mexico">
                                                                
                                                                
                                                                        <mat-card-content>
                                                                                <p>
                                                                                        I made the analysis, design and development of an invoicing and consumption
                                                                                        system. The main technology was Java with Struts2, IceFaces y JSF, and
                                                                                        PHP with JQuery, JSON and MapServer. We used MySQL and Oracle
                                                                                        databases, and as a version control system we used TortoiseSVN.
                                                                                </p>
                                                                        </mat-card-content>
                                                                        
                                                                </mat-card>


                                                                <mat-card class="example-card">
                                                                
                                                                        <mat-card-header>
                                                                                <div mat-card-avatar class="job-image"></div>
                                                                                <mat-card-title>Software Developer</mat-card-title>
                                                                                <mat-card-subtitle>Telefónica Spain (09/2009 - 10/2011)</mat-card-subtitle>
                                                                        </mat-card-header>
                                                                
                                                                        <img mat-card-image src="/assets/images/telefonica.png" alt="Movistar Mexico">
                                                                        
                                                                        <mat-card-content>
                                                                                <p>
                                                                                I made the analysis, design and development of a fixed telephone system. The
                                                                                main technology was Java, an Oracle (PL-SQL) database, and it used JSP,
                                                                                Java script, HTML, XML, CSS and unix batch process. As a version control
                                                                                system we used Rational Clear Case.
                                                                                </p>
                                                                        </mat-card-content>
                                                                        
                                                                                        
                                                                </mat-card>
                                                        </div>             
                                                </div>
                                        </mat-expansion-panel>
                                </mat-accordion>
                        
                </mat-tab>
                <mat-tab label="SPEAKER">
                       
                        <div fxLayout="row wrap" fxLayoutGap="5%">
                                <mat-card class="speaker-card"  *ngFor="let conference of conferences">
                                        <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" fxLayoutGap="20px" >
                                                <div fxFlex="40" fxLayoutAlign="center start">
                                                        <mat-card-header>
                                                                <div mat-card-avatar class="speaker-image"></div>
                                                                <mat-card-title>{{conference.title}}</mat-card-title>
                                                                <mat-card-subtitle>{{conference.subtitle}}</mat-card-subtitle>
                                                        </mat-card-header>
                                                </div>
                                                <div fxFlex="20" fxLayoutAlign="center center">
                                                                <img mat-card-image src={{conference.image}}>
                                                </div>
                                                <div fxFlex="40" fxLayoutAlign="center end">
                                                        <mat-card-content>
                                                                <p> {{conference.description}}</p>
                                                        </mat-card-content>
                                                </div>
                                        </div>
                                </mat-card> 
                                      
                        </div>        
                                
                </mat-tab>
        </mat-tab-group>
</div>
        


