/* You can add global styles to this file, and also import other style files */
table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}
mat-form-field {
    margin-right: 12px;    
}

