<!-- 
<table  matSort (matSortChange)="sortDataIpEvent($event)">
        <tr>
          <th mat-sort-header="start">Start</th>
          <th mat-sort-header="end">End</th>
          <th mat-sort-header="duration">Duration (in seconds)</th>
        </tr>
      
        <tr *ngFor="let event of sortedDataIpEvent">
          <td>{{event.start | date}}</td>
          <td>{{event.end | date}}</td>
          <td>{{event.duration}}</td>
        </tr>
      </table>
-->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
          <td mat-cell *matCellDef="let element"> {{element.start | date:'shortTime'  }} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
          <td mat-cell *matCellDef="let element"> {{element.end | date:'shortTime'  }} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration in seconds </th>
          <td mat-cell *matCellDef="let element"> {{ (element.duration === 0) ? 'Still connected' : element.duration  }} </td>
        </ng-container>
      
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
