<!--The content below is only a placeholder and can be replaced.-->

    
<div class="headerbody">    
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div> 
<footer>
    <p>© Copyright José Manuel Berretta Moreno 2019</p>
</footer>
