
<div fxLayout="column wrap">
        <mat-toolbar color="primary">
                <mat-toolbar-row>
                        <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>menu</mat-icon>
                        </button>
                </mat-toolbar-row>
        </mat-toolbar>

        <mat-sidenav-container  fxLayout="row wrap">
                <mat-sidenav #drawer mode="side" role="navigation">
                        <mat-nav-list>
                                <a mat-list-item [routerLink]="['/cv']"><mat-icon>account_box</mat-icon><span style="margin-left: 7%">Profile</span></a>
                        </mat-nav-list>
                        <mat-nav-list>
                                <a mat-list-item [routerLink]="['/report']" ><mat-icon>show_chart</mat-icon> <span style="margin-left: 7%">Reports</span></a>
                        </mat-nav-list>
                   
                </mat-sidenav>
                <mat-sidenav-content class="content-center">
                        <router-outlet></router-outlet>
                </mat-sidenav-content>
        </mat-sidenav-container>
</div>