@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0:  (
  50 : #e2e5e7,
  100 : #b7bdc3,
  200 : #87919b,
  300 : #566572,
  400 : #324454,
  500 : #0e2336,
  600 : #0c1f30,
  700 : #0a1a29,
  800 : #081522,
  900 : #040c16,
  A100 : #5693ff,
  A200 : #2373ff,
  A400 : #0057ef,
  A700 : #004ed5,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$jberretta-app-primary: mat-palette($md-mcgpalette0);
$jberretta-app-accent: mat-palette($md-mcgpalette0, A200, A100, A400);
$jberretta-app-warn: mat-palette($mat-red);
$jberretta-app-theme: mat-dark-theme($jberretta-app-primary, $jberretta-app-accent, $jberretta-app-warn);

// Include theme styles for Angular Material components.
@include angular-material-theme($jberretta-app-theme);


.dark-theme {
  // Define your application's custom theme.
  $primary-dark: mat-palette($mat-pink, 700);
  $accent-dark: mat-palette($mat-pink, A200, A100, A400);
  $warn-dark: mat-palette($mat-red);
  $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);
@include angular-material-theme($theme-dark);


}

html {
  height: 100vh;
  width: 100vw;

}
body {
  height: 100%;
  margin: 0;
  background: mat-color($jberretta-app-primary);
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-drawer-inner-container {
  background: mat-color($jberretta-app-primary, 200);
}
.content-center {
  height: 100%;
}
footer {
  position: absolute;
  width: 100%;
  text-align: right;
}
footer p{
  color: mat-color($jberretta-app-primary, A700);
}
@media (min-width: 700px) {
  .example-card {
    max-width: 20vw;
    margin-top: 5%;
  }

  .speaker-card {
    max-width: 30vw;
    margin-top: 5%;
  }
 
  .main-container {
    width:100%;
    height: 85vh;

  }  
  .technology-card img {
    max-width: 8vw; 
  }

}
@media (max-width: 699px) {
  
  .example-card {
    margin-top: 5%;
  }
  .speaker-card {
    margin-top: 5%;
  }
  .speaker-card img {
    max-width: 70vw; 
  }

  .main-container {
    width:100%;
    min-height: 150vh;
    
  }
  .technology-card img {
    max-width: 40vw; 
  }
  footer {
    display: none;
  }
}

.profile-image {
  border-radius: 50%;  
}

button:focus {
  outline: none;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.technology-card {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}


.technology-card mat-card-header {
  padding-bottom: 5%;
}

.example-header-image {
  background-image: url('/assets/images/graduation-cap.png');
  background-size: cover;
}
.job-image {
  background-image: url('/assets/images/work.png');
  background-size: cover;
}
.speaker-image {
  background-image: url('/assets/images/speaker.png');
  background-size: cover;
}

.profile-mail {
  color: #B23121;
}
.profile-linkedin {
  color: #0077B5;
}
.profile-github {
  color: #211f1f;
}
.profile-gitlab {
  color: #FC6D27;
}
.profile-twitter {
  color: #38A1F3;
}
.profile-skype {
  color: #00AFF0;
}
.profile-telegram {
  color: #0088cc;
}
.profile-whatsapp {
  color: #25D366;
}
mat-sidenav-content {
  width: 100%;
}